(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: Some(Line),
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: Url("https://file%2B.vscode-resource.vscode-cdn.net/home/arseniylyskov/MyFolder/Projects/Yadro/School_of_Digital_Circuit_Synthesis/systemverilog-homework/09_single_cycle_cpu/09_04_cpu_fetch_with_latency/dump.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb",
                "cpu",
                "ID_stage",
            ],
            id: Wellen((7)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "ID_stage",
                            "register_file",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "wd3",
                    id: Wellen((226)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "wd3 [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "ID_stage",
                            "register_file",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "a3",
                    id: Wellen((224)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "a3 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "ID_stage",
                            "register_file",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "we3",
                    id: Wellen((227)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "we3",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "stash_a3",
                    id: Wellen((280)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "stash_a3 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "rst",
                    id: Wellen((16)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_forwarding_rd1",
                    id: Wellen((276)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_forwarding_rd1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "imData",
                    id: Wellen((7)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "imData [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("RV32"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_EX_i_valid",
                    id: Wellen((271)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_EX_i_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "i_EX_o_valid",
                    id: Wellen((262)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_EX_o_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_WB_i_valid",
                    id: Wellen((274)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_WB_i_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "i_a3",
                    id: Wellen((267)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_a3 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_ID_i_valid",
                    id: Wellen((272)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_ID_i_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "imAddr",
                    id: Wellen((8)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "imAddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "i_a1",
                    id: Wellen((265)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_a1 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk",
                    id: Wellen((11)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "IF_o_debug_pc",
                    id: Wellen((78)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "IF_o_debug_pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "i_a2",
                    id: Wellen((266)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_a2 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "stash_valid",
                    id: Wellen((283)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "stash_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "o_forwarding_rd2",
                    id: Wellen((277)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_forwarding_rd2",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "cpu",
                            "hazard_unit",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "i_misprediction",
                    id: Wellen((269)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_misprediction",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 36,
        viewports: [
            (
                curr_left: (-0.005179084891988158),
                curr_right: (0.05438717120344609),
                target_left: (0.00796349531044858),
                target_right: (0.06752975140588283),
                move_start_left: (0.00796349531044858),
                move_start_right: (0.06752975140588283),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((-1, [
            3,
        ])),
        markers: {},
        focused_item: Some((17)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (17),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: Seconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(236.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)